{% load staticfiles %}

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'confrooms/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'confrooms/style.css' %}" />
    <link rel="stylesheet" href="{% static 'confrooms/css/jquery.dataTables.css' %}">
    <script src="{% static 'confrooms/js/jquery.js' %}"></script>
    <script src="{% static 'confrooms/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'confrooms/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'confrooms/js/pagination-bootstrap-plugin.js' %}"></script>
    <script src="{% static 'confrooms/js/script.js' %}"></script>

    {% block head %}{% endblock %}

    <script type="text/javascript" charset="utf-8">
    $.extend( $.fn.dataTableExt.oStdClasses, {
        "sWrapper": "dataTables_wrapper form-inline",
        "sSortAsc": "header headerSortDown",
        "sSortDesc": "header headerSortUp",
        "sSortable": "header headerSortable"
    });

    $(function() {

        $("#room-list").dataTable({
            "oLanguage": {
                "sUrl": "{% static 'confrooms/dataTables.polish.txt' %}"
            },
            "sDom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
            "sPaginationType": "bootstrap",
            "bAutoWidth" : false,
            "aoColumns" : [
                    { "sWidth" : "20%" },
                    { "sWidth" : "20%" },
                    { "sWidth" : "60%" },
            ],
            "bSortClasses": false
        });


    });
    </script>

    <title>{% block title %}System Rezerwacji Pokoi Konferencyjnych{% endblock %}</title>
</head>
<body>


{% if login_message %}
    <div id="login-status">
        <div class="alert alert-danger">
            <p><strong>Alert:</strong> {{ login_message }} </p>
        </div>
    </div>
{% endif %}


<div class="container">
<div id="login-form" class="pull-right">

    {% if user.is_authenticated %}
    <form action="{% url 'confrooms:logout' %}" method="POST" class="form-inline">
        {% csrf_token %}
        <label for="logout-button">Zalogowany: {{ user.username }} </label>
        <input class="btn btn-default btn-sm" type="submit" id="logout-button" value="Wyloguj">
    </form>

    {% else %}
    <form action="{% url 'confrooms:login' %}" method="POST" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
            <label class="sr-only" for="login-username">Użytkownik</label>
            <input class="form-control input-sm" type="text" name="username" id="login-username" placeholder="Login">
        </div>
        <div class="form-group">
            <label class="sr-only" for="login-password">Hasło</label>
            <input class="form-control input-sm" type="password" name="password" id="login-password" placeholder="Hasło">
        </div>
        <input class="btn btn-default btn-sm" type="submit" id="login-button" value="Zaloguj">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    {% endif %}

</div>

<nav>
    <ol class="breadcrumb">
        {% block navigation %}{% endblock %}
    </ol>
</nav>
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>

