{% extends "confrooms/base.html" %}

{% block navigation %}
    <li><a href="{% url 'confrooms:index' %}">Pokoje</a></li>
    <li class="active">Rezerwacja</li>
{% endblock %}


{% block content %}
<div class="container">
    <div id="room-description">
        <h2>{{ room.name }}</h2>
        <p>
            Pojemność: {{ room.capacity }}
        </p>
        <p>
            {{ room.description }}
        </p>
    </div>

    <div id="room-booking-form">
        {% if message %}


        <div class="alert alert-warning">
            <strong>Uwaga:</strong> {{ message }} </p>
        </div>

        {% endif %}
        <form class="form-inline" action="{% url 'confrooms:confirm' room.pk %}" method="post">
        {% csrf_token %}
            <div class="form-group">
                <label for="booking-day"> Data </label>
                <input class="form-control" type="date" name="day" id="booking-day" value="{{ now|date:"Y-m-d" }}">
            </div>
            <div class="form-group">
                <label for="booking-start-time"> Od </label>
                <input class="form-control" type="number" name="start_time" id="booking-start-time" min="0" max="23">
            </div>
            <div class="form-group">
                <label for="booking-end-time"> Do </label>
                <input class="form-control" type="number" name="end_time" id="booking-end-time" min="1" max="24">
            </div>
            <input class="btn btn-primary" type="submit" id="booking-button" value="Zarezerwuj">
        </form>
    </div>


    <div id="room-vacancies-list" class="panel panel-default">
        <div class="panel-heading">
                <h2 class="panel-title">Wolne terminy</h2>
        </div>
        <div class="panel-body">
        {% if room.current_vacancies %}
        <ul>
            {% for v in room.current_vacancies|dictsort:"start_time"|dictsort:"day" %}
            <li>{{ v.day|date:"d E Y" }}, godz. {{ v.start_time }}:00 - {{ v.end_time }}:00
                <span class="hidden day-field">{{ v.day|date:"Y-m-d" }}</span>
                <span class="hidden start-time-field">{{ v.start_time }}</span>
                <span class="hidden end-time-field">{{ v.end_time }}</span> </li>
            {% endfor %}
        </ul>
        {% else %}
            <div class="alert alert-info">
                <p>Brak wolnych terminów.</p>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
