{% extends "confrooms/base.html" %}

{% block navigation %}
<ol class="breadcrumb">
    <li><a href="{% url 'confrooms:index' %}">Pokoje</a></li>
    <li><a href="{% url 'confrooms:book' booking.room.pk %}">Rezerwacja</a></li>
    <li class="active">Potwierdzenie</li>
</ol>
{% endblock %}


{% block content %}
<div class="container">
    {% if user != booking.user %}

    <div class="alert alert-info">
            <p>Tylko użytkownik który dokonał rezerwacji może ją podejrzeć.</p>
    </div>

    {% else %}

    <div class="col-md-6 col-md-offset-3">
    <div id="booking-description" class="panel panel-default">
        <div class="panel-heading">
            Pomyślnie dokonano następującej rezerwacji:
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Pokój</dt>
                <dd>{{ booking.room.name }}</dd>
                <dt>Pojemność</dt>
                <dd>{{ booking.room.capacity }}</dd>
                <dt>Opis</dt>
                <dd>{{ booking.room.description|truncatewords:"10" }}</dd>
                <dt>Data</dt>
                <dd>{{ booking.day|date:"d E Y" }}</dd>
                <dt>Godziny</dt>
                <dd>{{ booking.start_time }}:00 - {{ booking.end_time }}:00</dd>
            </dl>
            <div class="text-center">
            <a href="{% url 'confrooms:index' %}">
            <button name="ok" id="booking-confirmation-button" class="btn btn-info">OK</button>
            </a>
            </div>
        </div>
    </div>
    </div>

    {% endif %}
</div>
{% endblock %}