{% extends "confrooms/base.html" %}
{% load staticfiles %}

{% block head %}

{% endblock %}


{% block navigation %}
    <li><a href="#">Pokoje</a></li>
{% endblock %}


{% block content %}


<div class="jumbotron">
    <div class="container">
    <h1>Pokoje</h1>
    <p>
        Aplikacja służąca do rezerwacji miejsc w pokojach konferencyjnych.
    </p>
    <p>
        <a href="http://www.mimuw.edu.pl/~ciebie/drupal/?q=node/3"
           class="btn btn-primary btn-lg" role="button" target="_blank">Więcej</a>
    </p>
    </div>
</div>

<div class="container">
{% if user.is_authenticated %}

    {% if object_list %}

    <table id="room-list" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Pojemność</th>
                <th>Opis</th>
            </tr>
        </thead>
        <tbody>
            {% for room in object_list %}
             <tr>
                 <td> <a href="{% url 'confrooms:book' room.pk %}">{{ room.name }}</a>
                     {% if room.current_vacancies.count > 0 %}
                      <span class="badge">{{ room.current_vacancies.count }}</span>
                     {% endif %}
                 </td>
                 <td class="text-right"> {{ room.capacity }} </td>
                 <td> {{ room.description|truncatewords:"10" }} </td>
             </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}

    <p>Brak wolnych pokoi.</p>

    {% endif %}

{% else %}

    <div class="alert alert-info">
    <p>Tylko zalogowani użytkownicy mają dostęp do systemu.</p>
    </div>

{% endif %}
</div>

{%endblock %}