
table.table thead .headerSortable {
    background: url('images/sort_both.png') no-repeat center right;
}

table.table thead .headerSortUp {
    background: url('images/sort_asc.png') no-repeat center right;
}

table.table thead .headerSortDown {
    background: url('images/sort_desc.png') no-repeat center right;
}

div.dataTables_length label {
    float: left;
    text-align: left;
}

div.dataTables_filter label {
    float: right;
}

div.dataTables_info {
    padding-top: 1em;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table {
    margin-bottom: 6px !important;
    clear: both;
}

.pagination {
    margin: 0;
}

#room-vacancies-list {
    margin-top: 1em;
}

#login-username {
    width: 100px;
}

#login-password {
    width: 100px;
}

#login-form {
    padding-top: 2px;
    padding-right: 15px;
}

.bg-red {
    background-color: red;
    color: blue;
}

#room-list td {
    cursor: pointer;
}

#room-list tbody tr:hover {
    color: #428bca;
}

#room-vacancies-list li {
    cursor: pointer;
}